{% extends 'auctions/layout.html' %} 
{% block body %}
<form action="{% url 'create_listing' %}" method="post">
  {% csrf_token %}

  <label class="form-label" for="title">Title</label>
  <input class="form-control" type="text" name="title" id="" />

  <label class="form-label" for="description">Description</label>
  <textarea class="form-control" name="description" id="" cols="30" rows="10"></textarea>

  <label class="form-label" for="starting_bid">Starting bid</label>
  <input class="form-control" type="number" name="starting_bid" id="" />

  <label class="form-label" for="image">Image URL</label>
  <input class="form-control" type="text" name="image" id="" />
  <!-- todo list categories from database -->

  <select class="form-select" name="category" id="">
    {% for category in categories %}
    <option value="{{category.id}}">{{category.name}}</option>
    {% endfor %}
  </select>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}
